/**
 * /* Blur
 *
 * @format
 */

.hover07 figure img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.hover07 figure:hover img {
    -webkit-filter: blur(0);
    filter: blur(0);
}

span.current {
    font-size: 27px;
    color: #ee964b;
}

a.inactive {
    font-size: 27px;
}

a.hello {
    font-size: 27px;
}

td.evnt_table_info {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    /* color: black; */
}